USE [master]
GO
/****** Object:  Database [LanguageSystem]    Script Date: 22-Aug-14 2:33:31 PM ******/
CREATE DATABASE [LanguageSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LanguageSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\LanguageSystem.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LanguageSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\LanguageSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LanguageSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LanguageSystem]
GO
/****** Object:  Table [dbo].[Antonym]    Script Date: 22-Aug-14 2:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Antonym](
	[WordID] [int] NOT NULL,
	[AntonymID] [int] NOT NULL,
 CONSTRAINT [PK_Antonym] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC,
	[AntonymID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Explanation]    Script Date: 22-Aug-14 2:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Explanation](
	[ExplanationID] [int] IDENTITY(1,1) NOT NULL,
	[Text] [text] NOT NULL,
	[WordID] [int] NOT NULL,
	[LanguageID] [int] NOT NULL,
 CONSTRAINT [PK_Explanation] PRIMARY KEY CLUSTERED 
(
	[ExplanationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hyponym]    Script Date: 22-Aug-14 2:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hyponym](
	[WordID] [int] NOT NULL,
	[HyponymID] [int] NOT NULL,
 CONSTRAINT [PK_Hyponym] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC,
	[HyponymID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Language]    Script Date: 22-Aug-14 2:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[LanguageID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PartOfSpeech]    Script Date: 22-Aug-14 2:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartOfSpeech](
	[PartOfSpeechID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PartOfSpeech] PRIMARY KEY CLUSTERED 
(
	[PartOfSpeechID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Synonym]    Script Date: 22-Aug-14 2:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Synonym](
	[WordID] [int] NOT NULL,
	[SynonymID] [int] NOT NULL,
 CONSTRAINT [PK_Synonym] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC,
	[SynonymID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Translation]    Script Date: 22-Aug-14 2:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation](
	[WordID] [int] NOT NULL,
	[TranslationID] [int] NOT NULL,
 CONSTRAINT [PK_Translation] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC,
	[TranslationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Word]    Script Date: 22-Aug-14 2:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Word](
	[WordID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LanguageID] [int] NOT NULL,
	[PartOfSpeech] [int] NOT NULL,
 CONSTRAINT [PK_Word] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Antonym]  WITH CHECK ADD  CONSTRAINT [FK_Antonym_Word] FOREIGN KEY([WordID])
REFERENCES [dbo].[Word] ([WordID])
GO
ALTER TABLE [dbo].[Antonym] CHECK CONSTRAINT [FK_Antonym_Word]
GO
ALTER TABLE [dbo].[Antonym]  WITH CHECK ADD  CONSTRAINT [FK_Antonym_Word1] FOREIGN KEY([AntonymID])
REFERENCES [dbo].[Word] ([WordID])
GO
ALTER TABLE [dbo].[Antonym] CHECK CONSTRAINT [FK_Antonym_Word1]
GO
ALTER TABLE [dbo].[Explanation]  WITH CHECK ADD  CONSTRAINT [FK_Explanation_Language] FOREIGN KEY([LanguageID])
REFERENCES [dbo].[Language] ([LanguageID])
GO
ALTER TABLE [dbo].[Explanation] CHECK CONSTRAINT [FK_Explanation_Language]
GO
ALTER TABLE [dbo].[Explanation]  WITH CHECK ADD  CONSTRAINT [FK_Explanation_Word] FOREIGN KEY([WordID])
REFERENCES [dbo].[Word] ([WordID])
GO
ALTER TABLE [dbo].[Explanation] CHECK CONSTRAINT [FK_Explanation_Word]
GO
ALTER TABLE [dbo].[Hyponym]  WITH CHECK ADD  CONSTRAINT [FK_Hyponym_Word] FOREIGN KEY([WordID])
REFERENCES [dbo].[Word] ([WordID])
GO
ALTER TABLE [dbo].[Hyponym] CHECK CONSTRAINT [FK_Hyponym_Word]
GO
ALTER TABLE [dbo].[Hyponym]  WITH CHECK ADD  CONSTRAINT [FK_Hyponym_Word1] FOREIGN KEY([HyponymID])
REFERENCES [dbo].[Word] ([WordID])
GO
ALTER TABLE [dbo].[Hyponym] CHECK CONSTRAINT [FK_Hyponym_Word1]
GO
ALTER TABLE [dbo].[Synonym]  WITH CHECK ADD  CONSTRAINT [FK_Synonym_Word] FOREIGN KEY([WordID])
REFERENCES [dbo].[Word] ([WordID])
GO
ALTER TABLE [dbo].[Synonym] CHECK CONSTRAINT [FK_Synonym_Word]
GO
ALTER TABLE [dbo].[Synonym]  WITH CHECK ADD  CONSTRAINT [FK_Synonym_Word1] FOREIGN KEY([SynonymID])
REFERENCES [dbo].[Word] ([WordID])
GO
ALTER TABLE [dbo].[Synonym] CHECK CONSTRAINT [FK_Synonym_Word1]
GO
ALTER TABLE [dbo].[Translation]  WITH CHECK ADD  CONSTRAINT [FK_Translation_Word] FOREIGN KEY([WordID])
REFERENCES [dbo].[Word] ([WordID])
GO
ALTER TABLE [dbo].[Translation] CHECK CONSTRAINT [FK_Translation_Word]
GO
ALTER TABLE [dbo].[Translation]  WITH CHECK ADD  CONSTRAINT [FK_Translation_Word1] FOREIGN KEY([TranslationID])
REFERENCES [dbo].[Word] ([WordID])
GO
ALTER TABLE [dbo].[Translation] CHECK CONSTRAINT [FK_Translation_Word1]
GO
ALTER TABLE [dbo].[Word]  WITH CHECK ADD  CONSTRAINT [FK_Word_Language] FOREIGN KEY([LanguageID])
REFERENCES [dbo].[Language] ([LanguageID])
GO
ALTER TABLE [dbo].[Word] CHECK CONSTRAINT [FK_Word_Language]
GO
ALTER TABLE [dbo].[Word]  WITH CHECK ADD  CONSTRAINT [FK_Word_PartOfSpeech] FOREIGN KEY([PartOfSpeech])
REFERENCES [dbo].[PartOfSpeech] ([PartOfSpeechID])
GO
ALTER TABLE [dbo].[Word] CHECK CONSTRAINT [FK_Word_PartOfSpeech]
GO
USE [master]
GO
